*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color:grey;
    font-size: 1.5rem;
        /* border-radius: 12px; */
    
    background-size: cover; 
    height: 400px;
}
.logo{
   color:greenyellow;
   font-size: 100S;
}
.nav-links{
       background-color: rgb(112, 82, 81);
    display:flex;
    justify-content: space-between;
    padding: 20px;
    list-style-type: none;
       align-items: center;
          text-align: center;
gap: 2rem;

}
.nav-link{
    text-decoration: none;
    color: aliceblue;
}
.obsavetion-container{
 background-color: rgb(17, 13, 13);
 color: aliceblue;
}
.obsavetion{
 width: 500px;
 height: 400px;
 display: flex;
 justify-content: space-between;

}
p{
    padding: 3rem;
    font-size: 3rem;
}

 .ecosystems-container{
background-color: rgb(51, 31, 31);

 }
    
    
 


 