*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
nav{
    background-color: aquamarine;
    font-size: 3rem;
    padding: 2rem;  
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    }
  .nav-link{
    text-decoration: none;
    padding: 2rem;
  }  
form{
    background-color: grey;
    text-align: center;
    padding: 2rem;
}
label{
    font-size: 2rem;
}
#username{
font-size: 3rem;
margin-bottom: 2rem;
border-radius: 1.5rem;
}
#email{
    font-size: 3rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;  
}
#password{
    font-size: 3rem;
margin-bottom: 2rem;
border-radius: 1.5rem;
}
button{
    padding: 1.5rem 5rem;
}